.lists-container {
    display: flex;
    width: 100vw;
  }

  .list-container {
    width: 50%;
  }
 
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 50%;
  }

  li {
    margin-bottom: 5px;
    text-align: left;
    margin-left: 20px;
  }

  .list1 {
    /* padding: 10px; */
    border-radius: 5px;
  }

  .list2 {
    /* padding: 10px; */
    border-radius: 5px;
  }

  h2 {
    text-align: left; 
    margin-left: 20px;
  }