.columns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 85vh;
}

.map-img {
    background-image: url("/src/components/home_map.png");
    height: 100%;
    width: 100%;
    zoom: 70%;
    background-repeat: no-repeat;
}

.map-img:hover {
    opacity: 65%;
}

.map-img:hover::after {
    content: "Open interactive map";
    position: relative;
    text-align: center;
    top: 50%;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.taskDocs-img {
    background-image: url("/src/components/home_taskDocs.png");
    height: 100%;
    width: 100%;
    zoom: 70%;
    background-repeat: no-repeat;
}

.taskDocs-img:hover {
    opacity: 65%;
}

.taskDocs-img:hover::after {
    content: "Open documents";
    position: relative;
    text-align: center;
    top: 50%;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.msDocs-img {
    background-image: url("/src/components/home_msDocs.png");
    height: 100%;
    width: 100%;
    zoom: 70%;
    background-repeat: no-repeat;
}

.msDocs-img:hover {
    opacity: 65%;
}

.msDocs-img:hover::after {
    content: "Open documents";
    position: relative;
    text-align: center;
    top: 50%;
    color: black;
    font-size: 18px;
    font-weight: bold;
}