.listContainer {
   flex-wrap: wrap;
   margin-left: 12rem;
   margin-top: 2rem;
   z-index: -2;
}

.accordian {
   width: 100%;
   align-items: center;
}

.wrapper {
   margin: 5px;
   justify-content: center;
   align-items: center;
}

.element {
   margin-bottom: 20px;
}

.item {
   margin-bottom: 5px;
}

.title {
   color: #2f2a26;
   cursor: pointer;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #c3c3c1;
   padding: 5px 10px;
   margin-bottom: 5px;
}

.content {
   color: #8b7f75;
   max-height: 0;
   overflow: hidden;
   transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.content.show {
   height: auto;
   max-height: 9999px;
   transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.subContent {
   color: #000000;
   overflow: hidden;
   transition: all 0.5s cubic-bezier(0, 1, 0, 1);
   padding: 5px 10px;
}

.subContent.show {
   height: auto;
   max-height: 9999px;
   transition: all 0.5s cubic-bezier(0, 1, 0, 1);
   padding: 5px 10px;
}

.subTitle {
   color: #2f2a26;
   cursor: pointer;
   display: flex;
   justify-content: space-between;
   background: #afaba2;
   padding: 5px 10px;
}

.individualTitle {
   color: #000000;
   padding: 0px 5px;
   text-decoration: underline;
}

.individualContent {
   height: auto;
   max-height: 9999px;
   color: #000000;
   padding: 0px 5px;
}
.listContainer {
   flex-wrap: wrap;
   margin-left: 12rem;
   margin-top: 2rem;
   z-index: -2;
}
