.sidebar-title {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 20px;
}

.sidebar {
  position: fixed;
  height: 100%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 100%;
  overflow-y: scroll;
}

.logo-container {
  margin-bottom: 4rem;
}

.logo-container h1 {
  margin-top: 1.3rem;
}

.button.filter {
  width: 30px;
  height: 18px;
  position: relative;
  flex-direction: row;
}

.filter {
  margin: 4px;
}

.content {
  color: #8b7f75;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.header {
  margin-left: 4rem;
}
