.home {
   display: flex;
   padding: 10px;
}

.filters-container {
   /* height: 100vh; */
   width: 200px;
   position: relative;
}

.filters-form {
   background-color: #d5d5d7;
   padding: 10px;
   margin: 10px;
   margin-right: 0;
   border-radius: 4px;
}

.button-div {
   background-color: #d5d5d7;
   padding: 10px;
   margin: 10px;
   margin-right: 0;
   border-radius: 4px;
   /* border: 10px solid white; */
   /* border-right: 0px; */
}

.filterPMESII {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.map-container {
   flex: 1;
   margin-left: 1px;
   height: 100%;
   width: 100%;
   background-color: #d5d5d7;
   padding: 10px;
   margin: 10px;
   border-radius: 4px;
}

.map {
   height: 100%;
   width: 100%;
}

.country-selector {
   margin-bottom: 10px;
}

.filter-title {
   width: inherit;
   height: inherit;
   border: 1px solid black;
   border-radius: 4px;
   background-color: black;
   color: white;
   margin-top: 0;
   padding: 10px;
}

label,
input[type="checkbox"]:checked {
   accent-color: #690005;
}
